<html>
  <head>
    {% if title %}
    <title>{{title}} - Расписание</title>
    {% else %}
    <title>Расписание</title>
    {% endif %}

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    
    {% for i in [1] if title == "Sign In" %} 
    <link href="/static/css/login.css" rel="stylesheet" media="screen">
    {% endfor %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        Расписание: <a class="navbar-brand" href="index"> Главная </a>
        <span class="icon-bar"></span>
        <a class="navbar-brand" href="news"> Новости </a>
      </div>
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
