{% extends "base.html" %}
{% block content %}
<h1>Hi, {{user.nickname}}!</h1>

    <table id="nodes_container" class="table table-bordrered"><thead>
        <tr>
            <th>Время приема </th>
            <th>Длительность </th>
        </tr>
    </thead><tbody>
    {% for doc in doctors %}
    <tr>
        <td><input type="checkbox"> {{doc.slot.time()}} </input></td>
        <td>{{doc.long}} мин</td>
    </tr>
    {% endfor %}
    </tbody></table>
{% endblock %}
