{% extends "base.html" %}
{% block content %}
<h1>Hi, {{user.nickname}}!</h1>

    <table id="hosp_id" class="table table-bordrered"><thead>
        <tr>
            <th>Доктор</th>
            <th>Специальность</th>
            <th>Часы приема</th>
        </tr>
    </thead><tbody>
    {% for doc in doctors %}
    <tr>
        <td><a href="doc_{{ doc.desc }}_{{ doc.spec_id }}_{{ doc.hosp}}">{{doc.name}} </a></td>
        <td>{{doc.spec}}</td>
        <td>{{doc.desc}}</td>
    </tr>
    {% endfor %}
    </tbody></table>
{% endblock %}
