{% extends "base.html" %}
{% block content %}
<h1>Hi, {{user.nickname}}!</h1>

    <table id="nodes_container" class="table table-bordrered"><thead>
        <tr>
            <th>Учреждение</th>
            <th>Описание</th>
        </tr>
    </thead><tbody>
    {% for hospital in hospitals %}
    <tr>
        <td><a href="hospital_docs_{{ hospital.desc }}">{{hospital.name}} </a></td>
        <td>{{hospital.desc}}</td>
    </tr>
    {% endfor %}
    </tbody></table>
{% endblock %}
