{% extends "base.html" %}
{% block content %}
<h1>Hi, {{user.nickname}}!</h1>

    <table id="nodes_container" class="table table-bordrered"><thead>
        <tr>
            <th>Автор</th>
            <th>Новость</th>
        </tr>
    </thead><tbody>
    {% for post in posts %}
    <tr>
        <td><a href="">{{post.author.nickname}} </a></td>
        <td>{{post.body}}</td>
    </tr>
    {% endfor %}
    </tbody></table>
{% endblock %}
